@model Core_Health_and_Fitness.Models.DietPlan

@{
    ViewData["Title"] = "DietPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DietPlan</h1>

<div>
    <h4>DietPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaloricIntake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaloricIntake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DietPlanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
