@model Core_Health_and_Fitness.Models.PersonalTrainer

@{
    ViewData["Title"] = "ViewPersonalTrainersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewPersonalTrainersList</h1>

<div>
    <h4>PersonalTrainer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalProviders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalProviders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Long)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Long)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaloricIntake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaloricIntake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wednsday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wednsday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thursday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thursday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Friday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Friday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saturday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saturday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sunday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sunday)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonalTrainerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
