@model Core_Health_and_Fitness.Models.ClientProfile

@{
    ViewData["Title"] = "ViewClientProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewClientProfile</h1>

<div>
    <h4>ClientProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalProvider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FitnessGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FitnessGoal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientProfileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
